#logInField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
}

.submitField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    box-shadow:  3px 3px 6px 6px gray;
    padding: 40px;
    border-radius: 5px;
}

#email {
    width: 95%;
}

#password {
    width: 95%;
}

#transictionArea {
    display: none;
    padding: 5em 10em;
}

.row {
    justify-content: center;
    align-items: center;
}

.status {
    margin: 0px 20px;
    padding: 10px;
    color: #fff;
}

.deposit {
    background: slateblue;
    border-radius: 5px;
}

.withdraw {
    background: lightsalmon;
    border-radius: 5px;
}

.balance {
    background: orange;
    border-radius: 5px;
}

.submitArea {
    box-shadow:  3px 3px 6px 6px gray;
    padding: 40px;
    border-radius: 5px;
}

#amount {
    width: 90%;
}